NODE_ENV=***********
PORT=****

DATABASE_URL=********************************************************************************************************************************

JWT_ACCESS_SECRET=****************************************************************
JWT_REFRESH_SECRET=****************************************************************
JWT_ACCESS_EXPIRES_IN=**
JWT_REFRESH_EXPIRES_IN=**

BCRYPT_SALT_ROUNDS=**

BACKEND_URL=***********************
FRONTEND_URL=***********************

# create super admin
SUPER_ADMIN_NAME=************
SUPER_ADMIN_EMAIL=******************
SUPER_ADMIN_PASSWORD=***********************

# create tester admin
TESTER_ADMIN_NAME=****************
TESTER_ADMIN_EMAIL=*************************
TESTER_ADMIN_PASSWORD=***********************

# create tester doctor
TESTER_DOCTOR_NAME=*****************
TESTER_DOCTOR_EMAIL=**************************
TESTER_DOCTOR_PASSWORD=***********************

# REDIS CONFIGURATION
REDIS_USER=*******
REDIS_PASSWORD=********************************
REDIS_HOST=**********************************
REDIS_PORT=*****

SMTP_USER=*********************
EMAIL_SENDER=*********************
SMTP_PASSWORD=****************

# claude name
CLOUDINARY_CLAUDE_NAME=********
CLOUDINARY_API_KAY=***************
CLOUDINARY_API_SECRET=************************